<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API ENDPOINT</title>
  </head>
  <br>
    <h1>Endpoints</h1>
    <a href="/api/items">Get_All_Items</a><br/>
    <a href="/api/items/1">Get_One_Items</a><br/>
    <a href="/api/items/add">Add_Item</a><br/>
    <a href="/api/items/update/1">Update_Item</a><br/>
    <a href="/api/items/delete/1">Delete_Item</a><br/>
  </body>
</html>
